<!DOCTYPE html>
<html>
  <head>
    <title>cuttheurl</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div>
      <div>
        <form action="/shorten" method="post">
          <input type="text" name="url" placeholder="Enter URL" required>
          <input type="submit" value="Cut">
        </form>
      </div>
      <div>
        {% if url != "" %}
          <p>Shortened URL: <a href="{{ url }}">{{ url }}</a></p>
        {% endif %}
      </div>
    </div>
  </body>